@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Band";
}

<h2>!! !! nazwa danego zespołu</h2>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <nav>
        <p>
            Image: @Html.TextBox("img")
            <input type="submit" value="Accept" name="img" class="" />
        </p>
        <p>
            <input type="checkbox" name="nazwa" value="wartość" />gatunki
        </p>
    </nav>



